
body {
  width: 100%;
}

h1 {
  text-align: center;
}

h4 {
  font-weight: bold;
}

table {
  margin: 0 auto;
  width: 68%;
}

table > tbody > tr#sticky-header {
  background-color: #fff;
  position: sticky;
  top: 0;
}

#title-wrapper {
  width: 100%;
}

#title {
  width: 68%;
  margin: 0 auto;
  padding-bottom: 58px;
}

#goodbye {
  width: 68%;
  margin: 0 auto;
  padding-bottom: 58px;
  padding-top: 58px;
}

#github {
  padding: 58px;
  img { margin: 0 auto; }
}

.x {
  width: 170px;
  background-color: lightgrey;
  color:grey;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
}

.y {
  width: 170px;
  background-color: lightgreen;
  color:green;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
}

.m {
  width: 170px;
  background-color: darkorange;
  color: lightyellow;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
}

.n {
  width: 170px;
  background-color: indianred;
  color:darkred;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
}

.t {
  width: 170px;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
}
